/* HEADER */
.header {
  width: 100%;
  background-color: var(--bg-color-one);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* NAV */

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: var(--font-bold);
    img {
      height: 4rem;
    }
  }
}
